$v-btn-height-large: 46px;
$v-btn-height-small: 32px;

.v-btn {
  &.v-btn--size-x-large {
    --v-btn-height: #{$v-btn-height-large};
  }
  &.v-btn--size-x-small {
    --v-btn-height: #{$v-btn-height-small};
  }
}

.bg-primary {
  background-color: var(--bg-primary-color);
}
.v-btn__content {
  font-weight: 500;
}
